<%- model_class = Plane -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for :planes, url: departing_planes_path, html: { id: "planes_form" }, remote: true do |f| %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><%= model_class.human_attribute_name(:state) %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:history) %></th>
        <th><%=t '.actions', default: t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @planes.each do |plane| %>
        <tr id="<%= "plane_#{ plane.id }" %>">
          <td class='select'><%= check_box_tag 'plane_ids[]', plane.id if plane.ready? %></td>
          <td class='state'><%= plane.state %></td>
          <td><%= plane.name %></td>
          <td class='history'><%= plane.states_history.join(' - ') %></td>
          <td>
            <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                        plane_path(plane),
                        method: :delete,
                        class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to t('.new', default: t("helpers.links.new")),
            new_plane_path,
            class: 'btn btn-primary' %>
  <%= f.button "Depature Planes", class: "btn btn-default" %>
<% end %>

